@import "tailwindcss";



@theme {
  /* ---------- Arabic Fonts ---------- */
  --font-alexandria: "Alexandria", sans-serif;
  --font-cairo: "Cairo", sans-serif;
  --font-cairo-play: "Cairo Play", sans-serif;
  --font-changa: "Changa", sans-serif;
  --font-el-messiri: "El Messiri", sans-serif;
  --font-markazi: "Markazi Text", serif;

  /* ---------- English Fonts ---------- */
  --font-allerta: "Allerta Stencil", sans-serif;
  --font-audiowide: "Audiowide", cursive;
  --font-bangers: "Bangers", cursive;
  --font-cabin: "Cabin Sketch", cursive;
  --font-delius: "Delius", cursive;
  --font-fugaz: "Fugaz One", cursive;
  --font-merienda: "Merienda", cursive;
  --font-monoton: "Monoton", cursive;
  --font-quantico: "Quantico", sans-serif;
  --font-readex: "Readex Pro", sans-serif;
  --font-ropa: "Ropa Sans", sans-serif;
}



:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}


html {
  scroll-behavior: smooth;
  --my-color-500: theme(--color-gray-400);
  --my-color-700: theme(--color-gray-500);
  --my-color-800: theme(--color-gray-600);
  --my-color-950: theme(--color-gray-600);

  --my-500-10: rgb(153, 161, 175, 0.1);
  --my-500-20: rgb(153, 161, 175, 0.2);
  --my-500-40: rgb(153, 161, 175, 0.4);
  --my-500-50: rgb(153, 161, 175, 0.5);


  --my-700-10: rgb(106, 114, 130, 0.1);
}

.theme-red {
  --my-color-500: theme(--color-red-500);
  --my-color-700: theme(--color-red-700);
  --my-color-800: theme(--color-red-800);
  --my-color-950: theme(--color-red-950);

  --my-500-10: rgb(251, 44, 54, 0.1);
  --my-500-20: rgb(251, 44, 54, 0.2);
  --my-500-40: rgb(251, 44, 54, 0.4);
  --my-500-50: rgb(251, 44, 54, 0.5);

  --my-700-10: rgb(193, 0, 7, 0.1);
}

.theme-orange {
  --my-color-500: theme(--color-orange-500);
  --my-color-700: theme(--color-orange-700);
  --my-color-800: theme(--color-orange-800);
  --my-color-950: theme(--color-orange-950);

  --my-500-10: rgba(249, 115, 22, 0.1);
  --my-500-20: rgba(249, 115, 22, 0.2);
  --my-500-40: rgba(249, 115, 22, 0.4);
  --my-500-50: rgba(249, 115, 22, 0.5);

  --my-700-10: rgba(194, 65, 12, 0.1);
}

.theme-rose {
  --my-color-500: theme(--color-rose-500);
  --my-color-700: theme(--color-rose-700);
  --my-color-800: theme(--color-rose-800);
  --my-color-950: theme(--color-rose-950);

  --my-500-10: rgba(251, 113, 133, 0.1);
  --my-500-20: rgba(251, 113, 133, 0.2);
  --my-500-40: rgba(251, 113, 133, 0.4);
  --my-500-50: rgba(251, 113, 133, 0.5);

  --my-700-10: rgba(190, 24, 93, 0.1);
}

.theme-sky {
  --my-color-500: theme(--color-sky-500);
  --my-color-700: theme(--color-sky-700);
  --my-color-800: theme(--color-sky-800);
  --my-color-950: theme(--color-sky-950);

  --my-500-10: rgba(14, 165, 233, 0.1);
  --my-500-20: rgba(14, 165, 233, 0.2);
  --my-500-40: rgba(14, 165, 233, 0.4);
  --my-500-50: rgba(14, 165, 233, 0.5);

  --my-700-10: rgba(2, 132, 199, 0.1);
}

.theme-teal {
  --my-color-500: theme(--color-teal-500);
  --my-color-700: theme(--color-teal-700);
  --my-color-800: theme(--color-teal-800);
  --my-color-950: theme(--color-teal-950);

  --my-500-10: rgba(20, 184, 166, 0.1);
  --my-500-20: rgba(20, 184, 166, 0.2);
  --my-500-40: rgba(20, 184, 166, 0.4);
  --my-500-50: rgba(20, 184, 166, 0.5);

  --my-700-10: rgba(13, 148, 136, 0.1);
}

.theme-emerald {
  --my-color-500: theme(--color-emerald-500);
  --my-color-700: theme(--color-emerald-700);
  --my-color-800: theme(--color-emerald-800);
  --my-color-950: theme(--color-emerald-950);

  --my-500-10: rgba(16, 185, 129, 0.1);
  --my-500-20: rgba(16, 185, 129, 0.2);
  --my-500-40: rgba(16, 185, 129, 0.4);
  --my-500-50: rgba(16, 185, 129, 0.5);

  --my-700-10: rgba(5, 150, 105, 0.1);
}

.theme-green {
  --my-color-500: theme(--color-green-500);
  --my-color-700: theme(--color-green-700);
  --my-color-800: theme(--color-green-800);
  --my-color-950: theme(--color-green-950);

  --my-500-10: rgba(34, 197, 94, 0.1);
  --my-500-20: rgba(34, 197, 94, 0.2);
  --my-500-40: rgba(34, 197, 94, 0.4);
  --my-500-50: rgba(34, 197, 94, 0.5);

  --my-700-10: rgba(21, 128, 61, 0.1);
}

/*todo> texxxxxxxxt  */
.text-theme-500 {
  @apply text-[var(--my-color-500)];
}

.text-theme-500-hover {
  @apply hover:text-[var(--my-color-700)];
}

.text-theme-700 {
  @apply text-[var(--my-color-700)];
}

.text-theme-950 {
  @apply text-[var(--my-color-950)];
}


/*todo>  bbbbbbbggggggg  */
.bg-theme-500 {
  @apply bg-[var(--my-color-500)];
}

.bg-theme-700:hover {
  @apply bg-[var(--my-color-800)];
}

.bg-theme-700 {
  @apply bg-[var(--my-color-700)];
}

.bg-theme-950 {
  @apply bg-[var(--my-color-950)];
}

.ring-theme-500\/40 {
  @apply ring-[var(--my-500-40)];
}



/*todo> Bordeeeeeeeerrrrrr  */
.border-theme-500 {
  @apply border-[var(--my-color-500)];
}

.border-theme-700 {
  @apply border-[var(--my-color-700)];
}

.border-theme-950 {
  @apply border-[var(--my-color-950)];
}

/*todo> Frrrrrrrrrrrrrrom  */
.from-theme-500 {
  @apply from-[var(--my-color-500)];
}

.from-theme-700 {
  @apply from-[var(--my-color-700)];
}

.from-theme-950 {
  @apply from-[var(--my-color-950)];
}

/*todo> Tooooooooooooo */
.to-theme-500 {
  @apply to-[var(--my-color-500)];
}

.to-theme-700 {
  @apply to-[var(--my-color-700)];
}

.to-theme-800 {
  @apply to-[var(--my-color-800)];
}

.to-theme-700\/10 {
  @apply to-[var(--my-700-10)];
}

.to-theme-950 {
  @apply to-[var(--my-color-950)];
}


/*todo> shadowwwwwww  */


.card-shadow {
  box-shadow:
    0 2px 5px 0px var(--my-500-20),
    inset 0 1px 2px 0 var(--my-500-20);
}



.main-img::before {
  background: radial-gradient(circle, var(--my-color-500), var(--my-color-950));
}

.link::before {
  background: radial-gradient(circle, var(--my-color-500), var(--my-color-700));
}

.coco {
  background: linear-gradient(to bottom, var(--my-color-700) 96%, var(--my-color-950) 100%);
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--my-color-700);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  background: var(--my-color-950);
}

.hover-shine {
  @apply relative overflow-hidden;
}

.hover-shine::before {
  content: "";
  @apply absolute top-0 h-full w-8 -left-[40%] bg-gradient-to-l from-transparent via-white/10 to-transparent transition-all duration-700 -skew-x-20;
}

.hover-shine:hover::before {
  @apply left-[120%];
}


.place-holder {
  @apply peer-placeholder-shown:bottom-2 left-0 peer-focus:bottom-9 peer-focus:text-xs peer-placeholder-shown:md:text-lg peer-placeholder-shown:text-sm peer-placeholder-shown:text-white absolute w-full font-light text-xs px-1.5 bottom-9 transition-all duration-200
}